@import-normalize;
@import "rsuite/dist/rsuite.css";

:root {
  --white: #fff;
  --black: #121417;
  --transp-black: rgba(18, 20, 23, 0.5);
  --accent: #3470ff;
  --hover: rgba(11, 68, 205, 1);
}

body {
  color: var(--black);
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  font-family: "Manrope", sans-serif;
}
